*{ /* para reset */
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.carousel-item {
    height: 65vh;
    min-height: 600px;  
}

.bg-menu {
    background-color: #6B1762;
}


main { /* para el contenido  */
    border: 10px solid #A05898;
  }

.contacto{ /* para el formulario */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}